.img-height {
  width: 100%;
  max-height: 348px;
}

.caption {
  position: absolute;
  padding: 0 0 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(120, 194, 173, 0.8);
  color: #fff;
}

.caption-title {
  padding: 20px 20px 10px;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
}

.smallNavItem{
  color: white;
  cursor: pointer;
}

.sm-nav-link {
  border-bottom: 1px solid white;
  font-size: 15px;
}

.dropdown-menu{
  font-size: 12px !important;
  font-family: 'PT Sans' !important;
}

.dropdown-item{
  font-size: 12px !important;
  font-family: 'PT Sans' !important;
}

.link-custom-style {
  color: #78C2AD;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
