.img-height {
  width: 100%;
  max-height: 348px;
}

.caption {
  position: absolute;
  padding: 0 0 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(120, 194, 173, 0.8);
  color: #fff;
}

.caption-title {
  padding: 0px 0px 0px 10px;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
}

.caption-body {
  padding: 0px 10px 0px 0px;
  font-size: 16px;
}

.smallNavItem{
  color: white;
  cursor: pointer;
}

.sm-nav-link {
  border-bottom: 1px solid white;
  font-size: 15px;
}

.dropdown-menu{
  font-size: 14px !important;
  font-family: 'PT Sans' !important;
}

.dropdown-item{
  font-size: 14px !important;
  font-family: 'PT Sans' !important;
}

.link-custom-style {
  color: #78C2AD;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.home-psych-main-content {
  margin-top: 10px;
  max-height: 800px;
  overflow-y: auto;
  padding: 0px!important;
}

.back-button {
  position: absolute;
  padding: 30px 0px 0px 30px;
  cursor: pointer;
}

.table-home-psych {
  border: 2px solid;
  border-radius: 10px;
  padding: 0px;
  margin: 15px;
  background-color: #f7f7f9;
}

.main-navbar {
  border-radius: 10px;
  font-size: 14px;
  font-family: PT Sans;
}

.custom-carousel {
  margin-top: 10px;
  margin-bottom: 10px!important;
  padding: 5px!important;
}

.main-content {
  height: 300px;
}

.navigation-items-dropdown-menu {
  position: absolute!important;
  transform: translate3d(0px, 24px, 0px);
  top: 0px!important;
  left: 0px!important;
  will-change: transform;
  border: none!important;
  width: 240px;
}

.navigation-items-child-dropdown-menu {
  position: absolute!important;
  transform: translate3d(235px, 0px, 0px);
  top: 0px!important;
  left: 0px!important;
  will-change: transform;
  border: none!important;
  width: 240px;
}

.box-link {
  border-radius: 30px;
  color: white;
  font-size: 30px;
  display: inline-block;
  width: 280px;
  height: 180px;
  margin: 5px;
  padding: 35px;
  cursor: pointer;
}

.card-box-shadow {
  box-shadow: 3px 7px 15px rgba(0,0,0,0.7);
  border-radius: 5px !important;
}

.whiteSpace {
  white-space: normal !important;
}

.question-menu:hover {
  background-color: #b9bbbe;
}

.forum-topic:hover {
  text-decoration: underline !important;
}

.main-img:hover {
  background-color: #FFFACD;
  border-radius: 5px;
}

.forum-block {
  border: 1px solid gray;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 10px 10px 0px 0px;
}

.forum-comment-even {
  border: 1px solid gray;
  margin-top: 0px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 0px;
  border-top: none;
}

.forum-comment-uneven {
  background-color: #eff2f1;
  border: 1px solid gray;
  margin-top: 0px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 0px;
  border-top: none;
}

.forum-new-comment {
  border: 1px solid gray;
  margin-top: 0px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 0px 0px 10px 10px;
  background-color: #eff2f7;
}

.forum-topic-title {
  display: block!important;
  width: 105%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
}

.forum-topic-header-label {
  color: black;
  border: 1px solid gray;
  border-radius: 9px 0px 0px 0px;
}

.forum-topic-header-input {
  text-align: left;
  border: 1px solid gray;
  border-radius: 0px 9px 0px 0px;
}

.td-games-padding {
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}
